@font-face {
    font-family: "Roboto";
    src: url(./Roboto-Regular.ttf);
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    height: 35rem;
    flex-wrap: wrap;
    gap: 1rem;
}

span {
    border: 1px solid black;
    padding: 1rem; 
    text-align: center;
}

.S {
    order: 1;
}

.e {
    order: 2;
}

.m {
    order: 3;
}

.a {
    order: 4;
}

.n {
    order: 5;
}

.t {
    order: 6;
}

.i {
    order: 7;
}

.c {
    order: 8;
}

.H {
    order: 9;
}

.T {
    order: 10;
}

.M {
    order: 11;
}

.L {
    order: 12;
}